<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcgabriel.formtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/SplashscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            moved to the splashscreen
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".add_entry_college"
            android:label="@string/addPageTitle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_entry_employment"
            android:label="@string/addPageTitle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_entry_scholarship"
            android:label="@string/addPageTitle"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".add_entry_others"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name=".data.FormsProvider"
            android:authorities="com.dcgabriel.formtracker"
            android:exported="false" />

        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>